%header#content-header
  #price-container
    %span.glyphicon.glyphicon-tag
    %span.price= number_to_currency(@product.price) if @product.present?
  #content-header-img
    = image_tag @product.header_image_name, alt: "Learn #{@product.title}"

  %section#content-details.row.clearfix
    %article#details-article.col-sm-8
      %h1#article-title
        = @product.title
        %span.font-weight-light
          = @product.subtitle
      %h3
        %small
          By
          = link_to @product.author, "#", data: { target: "#author-modal", toggle: "modal" }
      = raw @product.description
    
    %aside#details-aside.col-sm-4
      = render 'form'

      %ul#details-infobox.list-group
        %li.list-group-item.active.clearfix DETAILS
        %li.list-group-item= @product.details
        %li.list-group-item.clearfix
          %span.pull-left.content-qualifier Length
          %span.pull-right= @product.duration

  = render 'modal'